.carousel__container {
  height:60%; 

}

.carousel__style {

  height: 100%;
  
}
.carousel-indicators {

  z-index: 1 !important;
  
}

.carousel-inner{
  max-height: 100%;
}
.carousel-caption {
  top:15%;
}

@media (max-width: 645px) {
  .carousel__container {
    height:40%; 
  
  }
  .carousel__style  {
    height:100%; 
  }
}
@media (max-width: 320px) {
  .carousel__container {
    height:20%; 
  
  }
  .carousel__style  {
    height:100%; 
  }
}